{{!< default}}

<div class="container">
    {{#post}}
        <article class="post-container {{post_class}}">
            <header class="post-header">
                <h1 class="post-title">{{title}}</h1>

                <p class="post-date"><time datetime="{{published_at}}">Published {{date format="MMMM Do YYYY"}}</time></p>
            </header>

            <div class="post-content">
                {{{content}}}

                {{#if tags}}
                    <p class="post-tags"><span>Tagged:</span> {{tags}}</p>
                {{/if}}
            </div>

            <a href="http://ghoster.io/?utm_source=self&utm_medium=banner&utm_campaign=free-blogs" style="display:block;"><img src="http://ghoster.io/promote-load.png" style="max-width: 100%;"/></a>
        </article>
    {{/post}}
</div>
